.submit_button {
  @include button;
  padding: 13px;
  margin-top: 20px;
  &:active {
    color: white;
  }
}

.edit_button {
  @include secondary_button;
  padding: 13px;
  &:active {
    color: white;
  }
}

.additional_button {
  @include button;
  height: 50px;
  width: 50px;
  padding: 0;
  font-size: 30px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
  &:active {
    color: white;
  }
}
