.modal-header {
  background-color: $detail-color;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px $accent-color;
}

.modal-body {
    font-size: 1em;
}
