.toggle_container {
  text-align: left;
  width: 60%;
  margin: 20px auto 0 10px;
  @media (max-width: $mobile-width) {
    margin-left: 150px;
  }
  input {
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 3px;
  }
  span {
    height: 50px;
    padding: 15px;
    display: block;
  }
}

.active_toggle {
  @include category_toggle;
  background-color: white;
  background-size: 80%;
}

.not_active_toggle {
  @include category_toggle;
  background-color: gainsboro;
  background-size: 80%;
}
