// used with preprocessors and contain font, colors definitions, etc.
$mobile-width: 768px;
$main-color: hsla(43, 53%, 93%, 1.0);
$accent-color:hsla(218, 46%, 32%, 1.0);
$detail-color: hsla(194, 59%, 39%, 1.0);
