main {
  text-align: center; }

body {
  font-family: 'Open Sans', sans-serif; }

.jumbotron {
  margin-top: -20px;
  background: url("/assets/images/header.png") center bottom no-repeat;
  color: white;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 50px;
  border-bottom: 1px solid black; }

.progress {
  width: 60%;
  margin: 40px auto;
  background: lightblue; }

select {
  background-color: white;
  padding: 20px;
  width: 90px; }
  @media (max-width: 768px) {
    select {
      padding: 5px;
      width: 140px;
      text-align: center; } }

.flow_button_months_container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .flow_button_months_container {
      width: 350px; } }

.nav_button_container {
  margin-bottom: 20px; }

.empty_flow_month {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  background: gainsboro;
  border: 1px solid black;
  width: 100px; }

.not_empty_flow_month {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  background: white;
  border: 1px solid gainsboro; }

.active_toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
  position: absolute;
  margin-left: -35px;
  background: white; }

.not_active_toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  margin-bottom: 10px;
  position: absolute;
  margin-left: -35px;
  background: gainsboro; }

.flow_toggle_container {
  text-align: left;
  margin: 20px 0 10px 200px; }
  @media (max-width: 768px) {
    .flow_toggle_container {
      margin-left: 100px; } }
  .flow_toggle_container label {
    height: 20px; }
  .flow_toggle_container input {
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 3px; }

.login_container {
  margin-top: -20px; }

@media (max-width: 768px) {
  .login_greeting {
    font-size: 3em; } }

.profilepersonicon {
  width: 50px; }

.people_button_container {
  margin-bottom: 20px; }

.client_names {
  text-align: center;
  width: 40%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .client_names {
      width: 65%; } }

.profile_select {
  margin-bottom: 20px; }

.profile_submit {
  margin-top: 20px; }

.flex_container {
  width: 60%;
  margin: 0 auto; }

.flex_submit {
  margin-top: 20px; }

.toggle_container {
  text-align: left;
  width: 60%;
  margin: 20px auto 0 390px; }
  @media (max-width: 768px) {
    .toggle_container {
      margin-left: 100px; } }
  .toggle_container label {
    height: 20px; }
  .toggle_container input {
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 3px; }

.func_next {
  margin: 10px 0 10px 0;
  color: white; }

.financ_next {
  margin: 10px 0 10px 0; }

.results_container {
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 200px;
  margin: 20px 20px 20px 20px;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  float: left; }

.results_name {
  border-bottom: 1px solid black;
  padding: 30px;
  padding-bottom: 10px;
  background: gainsboro;
  margin-top: -20px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px; }

.results_value {
  border-bottom: 1px solid black;
  padding: 40px;
  padding-bottom: 20px;
  margin-top: -20px; }

.full_results_container {
  width: 500px;
  margin: 0 auto 40px auto; }
  @media (max-width: 768px) {
    .full_results_container {
      width: 240px;
      margin: 0 auto 20px auto; } }

.results_button_container {
  margin: 20px auto 20px auto;
  width: 300px; }
  .results_button_container button {
    margin-bottom: 20px; }

.addl_comment {
  width: 40%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .addl_comment {
      width: 80%; } }
