<div ng-include="'views/templates/nav.html'">
</div>

<h1 class="jumbotron">Questions for Flex/Flow?</h1>

<div class="container">
  <form>
    <div class="form-group">
      <label for="comment"></label>
      <textarea class="form-control addl_comment" rows="5" id="comment" ng-model="ai.comment" placeholder="Enter your questions or comments here!"></textarea>
    </div>
    <button type="button" class="submit_button" ng-click="ai.postAdditionalInfo()">Submit</button>
  </form>
</div>

<ol class="breadcrumb_mobile" ng-show="ai.navActive">
  <li><a href="#">Home</a></li>
  <li><a href="#flexspend">Flex</a></li>
  <li><a href="#flowspend">Flow</a></li>
  <li><a href="#functionalspend">Functional</a></li>
  <li><a href="#financialspend">Financial</a></li>
  <li class="active">Comments</li>
</ol>
<div class="hamburger" ng-click="ai.activateMobileNav()">
  <img src="/assets/images/hamburger.svg" alt="hamburger">
</div>
