<h1 class="jumbotron">Create Profile</h1>

<h4>How many adults are in your household?</h4>
<div class="people_button_container btn-group btn-group-lg" role="group">
  <button ng-click="cp.clickNumPeople(1)"><img class="profilepersonicon" src="/assets/images/profile-icons/oneperson.svg" /></button>
  <button ng-click="cp.clickNumPeople(2)"><img class="profilepersonicon" src="/assets/images/profile-icons/twopeople.svg" /></button>
  <button ng-click="cp.clickNumPeople(3)"><img class="profilepersonicon" src="/assets/images/profile-icons/threepeople.svg" /></button>
  <button ng-click="cp.clickNumPeople(4)"><img class="profilepersonicon" src="/assets/images/profile-icons/fourpeople.svg" /></button>
</div>
<div class="client_names" ng-hide="cp.numPeople === 0">
  <label for="names" ng-show="cp.numPeople === 1">Name</label><label for="names" ng-show="cp.numPeople > 1">Names</label><br>
  <div ng-repeat="person in cp.flexArray">
    <input type="text" ng-model="person.item_name" placeholder="e.g. Bob" class="form-control">
  </div><br>
  <label for="total income">Total Household Income</label><br>
  <input type="number" ng-model="cp.budget.annual_salary" placeholder="e.g. 100000" class="form-control num_label"><br>
  <label for="total take-home">Total Monthly Take-Home Cash (After taxes, healthcare, retirement, etc...)</label><br>
  <input type="number" ng-model="cp.budget.monthly_take_home_amount" placeholder="e.g. 5000" class="form-control num_label"><br>
  <label for="start budget">What month are you starting your budget?</label><br>
  <select name="month" ng-model="cp.budget.budget_start_month">
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <select class="profile_select" name="year" ng-model="cp.budget.budget_start_year">
    <option ng-repeat="year in cp.nextFiveYears">{{year}}</option>
  </select><br>
  <label><input type="checkbox" ng-model="cp.budget.meeting_scheduled"> I already have a meeting scheduled with a Flex/Flow financial advisor.</label><br>
  <button class="submit_button" data-toggle="modal" ng-click="cp.submitProfile()" data-target="#clientProfileForm">Continue</button>
  <div class="modal fade" id="clientProfileForm" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">This is your Client Profile.</h4>
        </div>
        <div class="modal-body">
          <p>Number of Adults: {{cp.numPeople}} </p>
          <p>Annual Income: ${{cp.budget.annual_salary}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="edit_button" data-dismiss="modal">Edit Info</button>
          <button ng-click="cp.postBudget()" class="submit_button" data-dismiss="modal" data-target="#savingsGoalsForm" data-toggle="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="savingsGoalsForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Savings Goals</h4>
      </div>
      <div class="modal-body">
        <p>Based on your income, you should be saving ${{cp.savings}} each year.</p>
        <p>This means a monthly savings of ${{cp.monthSavings.toFixed()}}.</p>
      </div>
      <div class="modal-footer">
        <button class="submit_button" data-target="#congratsForm" data-toggle="modal" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="congratsForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Congratulations! You've filled out your client profile!</h4>
      </div>
      <div class="modal-body">
        <p>Next we'll talk about your flex spending. Imagine you could spend an amount every month on whatever makes you happy. This could be date nights, dinners with friends, new shoes... whatever you enjoy. That's flex spending!</p>
      </div>
      <div class="modal-footer">
        <button onclick="window.location.href='#flexspend'" class="submit_button" data-dismiss="modal">Let's Start!</button>
      </div>
    </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="14.3" aria-valuemin="0" aria-valuemax="100" style="width: 14.3%;">
    1/7
  </div>
</div>
