<h1>Your Monthly Flex Allowance</h1>

<div ng-repeat="person in fx.flexArray"><label>{{person.item_name}}</label><br>
  <input type="text" ng-model="person.item_amount" placeholder="e.g. 500" class="form-control">
</div>
<button class="btn btn-primary" data-toggle="modal" data-target="#flexProfileForm">Submit Flex</button>
<div class="modal fade" id="flexProfileForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">This is your Flex allowance.</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="person in fx.flexArray"> <p>{{person.item_name}}: ${{person.item_amount}}</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit Info</button>
        <button ng-click="fx.submitFlex()" class="btn btn-default" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div><br>
<br>
<br>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11.1%;">
    2/18
  </div>
</div>
