<h1>Your Flow Spending</h1>
<button ng-repeat="month in fl.months" ng-click="fl.enterMonthFlowData(month, $index)" data-toggle="modal" data-target="#monthDataForm">{{month}}</button>



<div class="modal fade" id="monthDataForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{fl.currentMonth}}</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="category in fl.flowCategories">
          <label for="category.item_name" ng-click="fl.toggleActive(category)">{{category.item_name}}</label>
          <span ng-hide="category.activeCategory">{{category.item_placeholder_text}}</span>
          <input placeholder="eg. 150" ng-show="category.activeCategory" name="category.item_name" ng-model="fl.newFlowBudget"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="fl.prevMonth()">Previous Month</button>
        <button type="button" class="btn btn-default" ng-click="fl.nextMonth()">Next Month</button>
      </div>
    </div>
  </div>
</div>
