<ol class="breadcrumb">
  <li ng-show="fu.budgetStatusIndex >= 0"><a href="#">Home</a></li>
  <li ng-show="fu.budgetStatusIndex >= 1"><a href="#flexspend">Flex</a></li>
  <li ng-show="fu.budgetStatusIndex >= 2"><a href="#flowspend">Flow</a></li>
  <li ng-show="fu.budgetStatusIndex >= 3"><a href="#functionalspend">Functional</a></li>
  <li ng-show="fu.budgetStatusIndex >= 4"><a href="#financialspend">Financial</a></li>
  <li ng-show="fu.budgetStatusIndex >= 6"><a href="#additionalinfo">Comments</a></li>
  <li ng-show="fu.budgetStatusIndex >= 6"><a href="#results">Results</a></li>
</ol>

<h1 class="jumbotron">Functional Spending</h1>
<div class="functional_financial_spending_container">
  <div class="toggle_container" ng-repeat="item in fu.itemArray">
    <label for="item.item_name" ng-click="fu.toggleActive(item)" ng-class="{active_toggle: item.activeItem === true, not_active_toggle: item.activeItem === false}" ng-style="{'background-image': 'url(/assets/images/functional-icons/' + item.item_img_src + ')'}"></label>
    <span ng-hide="item.activeItem">{{item.item_name}}</span>
    <input type="number" placeholder="e.g. 150" ng-show="item.activeItem" name="item.item_name" ng-model="item.item_amount" />
  </div>
  <button class="additional_button" data-target="#additionalCategories" data-toggle="modal">+</button>
</div>
<button class="submit_button" data-toggle="modal" data-target="#functionalData">Continue</button>

<button class="hint_button" data-toggle="modal" data-target="#hint">?</button>
<div class="modal fade" id="hint" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What is Functional Spending?</h4>
      </div>
      <div class="modal-body">
        <p>This is the boring bucket. We have to pay these bills or expenses frequently and they usually stay the same every month.</p>
      </div>
      <div class="modal-footer">
        <button class="submit_button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="additionalCategories" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-toggle="modal">&times;</button>
        <h4 class="modal-title">Enter Your Additional Budget Item</h4>
      </div>
      <div class="modal-body">
        <input placeholder="New Category" ng-model="fu.newCategory.item_name"/>
        <input placeholder="e.g. 150" type="number" ng-model="fu.newCategory.item_amount"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="submit_button" ng-click="fu.addFunctionalItem()" data-dismiss="modal" data-toggle="modal">Save New Item</button>
      </div>
    </div>
  </div>
</div>

<!-- confirmation/submit modal-->
<div class="modal fade" id="functionalData" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Monthly Functional Spending</h4>
      </div>
      <div class="modal-body">
        <div ng-repeat="item in fu.itemArray" ng-hide="item.item_amount === null">
          <p>{{item.item_name}}: ${{item.item_amount}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="edit_button" data-dismiss="modal">Edit Info</button>
        <button class="submit_button" type="button" ng-click="fu.updateFunctionalItems()" data-target="#greatWork" data-toggle="modal" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="greatWork" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Great work! You've completed your functional budget!</h4>
      </div>
      <div class="modal-body">
        <div>
          <p>Now we'll enter your Financial Spending. This is all of your investments that you are already making each month.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="window.location.href='#financialspend'" class="submit_button" type="button" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="57.1" aria-valuemin="0" aria-valuemax="100" style="width: 57.1%;">
    4/7
  </div>
</div>

<ol class="breadcrumb_mobile" ng-show="fu.navActive">
  <li><a href="#">Home</a></li>
  <li><a href="#flexspend">Flex</a></li>
  <li><a href="#flowspend">Flow</a></li>
  <li class="active">Functional</li>
</ol>
<div class="hamburger" ng-click="fu.activateMobileNav()">
  <img src="/assets/images/hamburger.svg" alt="hamburger">
</div>
