<div class="form-group">
        <label for="Rent/Mortgage"></label>
        <input type="number" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
    <div class="form-group">
        <label for="description"></label>
        <input type="text" ng-model="fi.newArticle.description" name="description" class="form-control" placeholder="Summary (optional)" />
    </div>
<footer>
<button type="button" class="next"></button>
</footer>

Rent/Mortgage, Daycare, Cars, P&C Insurance, Cell Phone, Utilities, Student Loans, Credit Cards/Loans, Gas, Groceries
