<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="#home">Home</a></li>
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#clientprofile">Client Profile</a></li>
      <li><a href="#flexspend">Flex Spend</a></li>
      <li><a href="#flowspend">Flow Spend</a></li>
      <li><a href="#functionalspend">Functional Spend</a></li>
      <li><a href="#financialspend">Financial Spend</a></li>
      <li><a href="#results">Results</a></li>
      <li><a href="#additionalinfo">Additional Info</a></li>
    </ul>
  </div>
</nav>
