<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="#home">Home</a></li>
      <li><a href="#clientprofile">Profile</a></li>
      <li><a href="#flexspend">Flex</a></li>
      <li><a href="#flowspend">Flow</a></li>
      <li><a href="#functionalspend">Functional</a></li>
      <li><a href="#financialspend">Financial</a></li>
      <li><a href="#additionalinfo">Comments</a></li>
      <li><a href="#results">Results</a></li>
    </ul>
  </div>
</nav>
