<h1>Client Report</h1>

<button ng-click="cr.getReportData()">Report it</button>

<h2>Profile</h2>
<p>Start: <span>{{cr.budgetMonths[0].month}}/{{cr.reportData.profile.budget_start_year}}</span></p>
<p>Annual Salary: <span>{{cr.reportData.profile.annual_salary}}</span></p>


<table class="letterTable">
  <thead>
    <tr>
      <th style="width:22%"></th>
      <th style="width:6%">{{cr.budgetMonths[0].month}}<br>{{cr.budgetMonths[0].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[1].month}}<br>{{cr.budgetMonths[1].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[2].month}}<br>{{cr.budgetMonths[2].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[3].month}}<br>{{cr.budgetMonths[3].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[4].month}}<br>{{cr.budgetMonths[4].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[5].month}}<br>{{cr.budgetMonths[5].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[6].month}}<br>{{cr.budgetMonths[6].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[7].month}}<br>{{cr.budgetMonths[7].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[8].month}}<br>{{cr.budgetMonths[8].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[9].month}}<br>{{cr.budgetMonths[9].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[10].month}}<br>{{cr.budgetMonths[10].year}}</th>
      <th style="width:6%">{{cr.budgetMonths[11].month}}<br>{{cr.budgetMonths[11].year}}</th>
      <th style="width:6%">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="typeRow" colspan="14"><h4>Income</h4></td>
    </tr>
    <tr >
      <td>Take Home</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount}}</td>
      <td>{{cr.reportData.profile.monthly_take_home_amount * 12}}</td>
    </tr>
    <tr>
      <td class="typeRow" colspan="14"><h4>Expenses</h4></td>
    </tr>
    <tr>
      <td colspan="14"><h5>Flex Items</h5></td>
    </tr>
    <tr ng-repeat="item in cr.reportData.Flex track by $index">
      <td>{{item.item_name}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.annual_amount}}</td>
    </tr>
    <tr>
      <td colspan="14"><h5>Flow Items</h5></td>
    </tr>
    <tr ng-repeat="item in cr.reportData.Flow track by $index">
      <td>{{item[$index].item_name}}</td>
      <td ng-repeat="flow in item">{{flow.item_amount}}</td>
    </tr>
    <tr>
      <td colspan="14"><h5>Functional Items</h5></td>
    </tr>
    <tr ng-repeat="item in cr.reportData.Functional track by $index">
      <td>{{item.item_name}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.annual_amount}}</td>
    </tr>
    <tr>
      <td colspan="14"><h5>Financial Items</h5></td>
    </tr>
    <tr ng-repeat="item in cr.reportData.Financial track by $index">
      <td>{{item.item_name}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.item_amount}}</td>
      <td>{{item.annual_amount}}</td>
    </tr>
  </tbody>
</table>
<h2>Comments</h2>
<ul ng-repeat="comment in cr.reportData.comment">
  <li>{{comment.budget_comment}}</li>
</ul>
