<h1>Savings Goals</h1>

<p>Based on your income, you should be saving ${{sg.savings}} each year.</p>

<p>This means a monthly savings of ${{sg.monthSavings.toFixed()}}.</p>

<button class="btn btn-primary" data-toggle="modal" data-target="#congratsForm">Continue</button>
<div class="modal fade" id="congratsForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Congratulations! You've filled out your client profile!</h4>
      </div>
      <div class="modal-body">
        <p>Next we'll talk about your flex spending. Imagine you could spend an amount every month on whatever makes you happy. This could be date nights, dinners with friends, new shoes... whatever you enjoy. That's flex spending!</p>
      </div>
      <div class="modal-footer">
        <button onclick="window.location.href='#flexspend'" class="btn btn-default" data-dismiss="modal">Let's Start!</button>
      </div>
    </div>
  </div>
</div>
