<h1>Welcome</h1>


<footer>
<a href="#">Home</a>


<button type="button" ng-click="wc.postBudget()">Post Profile</button>
<br>
<input type="text" ng-model="wc.budget.budget_start_month" placeholder="budget_start_month"/>
<input type="text" ng-model="wc.budget.budget_start_year" placeholder="budget_start_year"/>
<input type="text" ng-model="wc.budget.monthly_take_home_amount" placeholder="monthly_take_home_amount"/>
<input type="text" ng-model="wc.budget.annual_salary" placeholder="annual_salary"/>
<input type="text" ng-model="wc.budget.meeting_scheduled" placeholder="meeting_scheduled"/>
<br>
<button type="button" ng-click="wc.updateBudget()">Update Profile</button>
<br>
<button type="button" ng-click="wc.getFlowItems()">getFlowItems</button>
<button type="button" ng-click="wc.postFlowItems()">postFlowItems</button>
<br>
<button type="button" ng-click="wc.getFlexItems()">getFlexItems</button>
<button type="button" ng-click="wc.postFlexItems()">postFlexItems</button>
<br>
<button type="button" ng-click="wc.getFunctionalItems()">getFunctionalItems</button>
<button type="button" ng-click="wc.postFunctionalItems()">postFunctionalItems</button>
<br>
<button type="button" ng-click="wc.getFinancialItems()">getFinancialItems</button>
<button type="button" ng-click="wc.postFinancialItems()">postFinancialItems</button>

</footer>
