.flow_button_months_container {
  width: 560px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  @media (max-width: $mobile-width) {
    width: 350px;
  }
}

.nav_button_container {
  margin-bottom: 20px;
}

.empty_flow_month {
  @include month_button;
  background: lighten($detail-color, 7%);
  border: 2px solid $detail-color;
  color: white;
  overflow: hidden;
  &:target {
    outline: none;
    color: white;
  }
  &:hover {
    background: $detail-color;
    color: white;
  }
  span {
    display: block;
  }
}

.not_empty_flow_month {
  @include month_button;
  background: $detail-color;
  border: 2px solid $accent-color;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  &:target {
    outline: none;
    color: white;
  }
  &:hover {
    background: lighten($detail-color, 7%);
    color: white;
  }
  &:active {
    color: white;
  }
  span {
    display: block;
  }
}

.flow_toggle_container {
  text-align: left;
  width: 60%;
  margin: 20px auto 0 10px;
  padding-left: 40%;
  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-left: 115px;
  }
  input {
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding-left: 20px;
  }
  span {
    height: 50px;
    padding: 15px;
    display: block;
    width: 400px;
    @media (max-width: $mobile-width) {
      width: 200px;
    }
  }
}

.flow_footer {
  text-align: center;
}
