.flow_button_months_container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  @media (max-width: $mobile-width) {
    width: 350px;
  }
}

.nav_button_container {
  margin-bottom: 20px;
}

.empty_flow_month {
  @include month_button;
  background: $main-color;
  border: 1px solid $detail-color;
  width: 100px;
  color: $accent-color;
}

.not_empty_flow_month {
  @include month_button;
  background: $detail-color;
  border: 1px solid $accent-color;
  color: white;
}

.flow_toggle_container {
  text-align: left;
  width: 60%;
  margin: 20px auto 0 10px;
  padding-left: 40%;
  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-left: 115px;
  }
  input {
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding-left: 20px;
  }
  span {
    height: 50px;
    padding: 15px;
    display: block;
  }
}
