.add_button {
  margin: 30px -10px 10px 0;
}

.func_next {
  margin: 10px 0 10px 0;
  color: white;
}

.financ_submit {
  margin: 30px 0 10px 0;
}

.financial_header {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
