.toggle_container {
  text-align: left;
  width: 60%;
  margin: 20px auto 0 390px;
  @media (max-width: $mobile-width) {
    margin-left: 100px;
  }
  label {
    height: 20px;
  }
  input {
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
  }
}

.func_next {
  margin: 10px 0 10px 0;
  color: white;
}

.financ_next {
  margin: 10px 0 10px 0;
}
