.button_log_in {
@include button;
  width: 200px;
  font-size: 2em;
  margin-top: 90px;
  &:hover {
    background: lighten($detail-color, 10%);
  }
    @media (max-width: $mobile-width) {
      width: 185px;
    }
}
