.login_ {
  &container {
    margin-top: -20px;
  }
  &greeting {
    @include header_text;
}
}

.button_log_in {
  background: $detail-color;
  color: $main-color;
  border: 1px solid $accent-color;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  font-size: 2em;
  &:hover {
    background: lighten($detail-color, 10%);
  }
}
