.profilepersonicon {
  width: 50px;
}

.people_button_container {
  margin-bottom: 20px;
  button {
    background: $detail-color;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid $accent-color;
    @media (max-width: $mobile-width) {
      width: 70px;
      height: 70px;
    }
    &:hover {
      background: lighten($detail-color, 10%);
    }
  }
}
.num_label {
  width: 150px;
  display: inline-block;
  margin-bottom: 20px;
}

.client_names {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  @media (max-width: $mobile-width) {
    width: 65%;
  }
}

.profile_select {
  margin-bottom: 20px;
}

.profile_submit {
  margin-top: 20px;
}
