.results {
  &_container {
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 200px;
    margin: 20px 20px 20px 20px;
    padding: 0;
    padding-bottom: 10px;
    overflow: hidden;
    background: white;
    float: left;
    &_negative {
      background: red;
      color: white;
    }
    &_positive {
      background: green;
      color: white;
    }
  }
  &_name {
    border-bottom: 1px solid black;
    padding: 30px;
    padding-bottom: 10px;
    background: $detail-color;
    margin-top: -20px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
  }
  &_value {
    border-bottom: 1px solid black;
    padding: 40px;
    padding-bottom: 20px;
    margin-top: -20px;
  }
}

.full_results_container {
  width: 500px;
  margin: 0 auto 40px auto;
  @media (max-width: $mobile-width) {
    width: 240px;
    margin: 0 auto 20px auto;
  }
}

.results_button_container {
  margin: 20px auto 20px auto;
  width: 300px;
  button {
    margin-bottom: 20px;
  }
}
