.toggle_container {
  text-align: left;
  margin: 20px 0 10px 200px;
  @media (max-width: $mobile-width) {
    margin-left: 100px;
  }
  label {
    height: 20px;
  }
  input {
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
  }
}
