// styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.
main {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $main-color;
}

h1 {
  @include header_text;
}

h3 {
  font-size: 2em;
  line-height: 1.4em;
}

.jumbotron {
  background: url('/assets/images/header.png') center bottom no-repeat;
  color: white;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-bottom: 1px solid $accent-color;
  text-align: center;
  width: 100%;
  margin-top: -20px;
  padding: 70px;
}

.progress {
  width: 60%;
  margin: 40px auto;
  background: $main-color;
}

select {
  background-color: white;
  padding: 20px;
  width: 90px;
  @media (max-width: $mobile-width) {
    padding: 5px;
    width: 140px;
    text-align: center;
  }
}
